- assets ||= @assets 
- folders ||= @folders 
- current_folder ||= @folder
- page ||= @page
- with_pagination ||= false

- if assets.empty? && folders.empty?
  %p
    = t("clipped_extension.no_assets")
- else
  - if with_pagination && assets.respond_to?(:previous_page) && assets.previous_page
    = pagination_for(assets, pagination_parameters.merge(:depaginate => false, :params => {:controller => 'admin/assets', :action => 'index', :id => nil, :format => 'js'}))

  %ul
    - if !folders.nil? && !folders.empty?
      - folders.each_with_index do |folder, index|
        %li{:class => "folder", :id => "folder_#{folder.id}", :title => folder.name}
          .front
            .thumbnail=# image_tag asset.thumbnail(:thumbnail) 
            .title
              = folder.name
          .back
            
            %ul.actions
              - if @page
                %li= link_to t('clipped_extension.assets'), admin_folder_assets_path(folder), :class => "remote show" 
              - else
                %li= link_to t('clipped_extension.assets'), admin_folder_assets_path(folder), :class => "show" 
                %li= link_to t('clipped_extension.edit'), edit_admin_folder_path(folder), :class => 'edit'  
                %li= link_to t("clipped_extension.remove"), remove_admin_folder_path(folder), :class => "delete"    
    - assets.each_with_index do |asset, index|
      - asset_type = asset.image? ? "image" : "link"
      %li{:class => "#{asset_type} asset", :id => "asset_#{asset.id}", :title => asset.title }
        .front
          .thumbnail= image_tag asset.thumbnail(:thumbnail)
        .back
          .title
            = asset.title
          %ul.actions
            - if @page
              %li= asset_insertion_link(asset)
              %li= asset_attachment_link(asset)
            - else
              %li= link_to t('clipped_extension.edit'), admin_asset_path(asset), :class => 'edit'
              %li= link_to t("clipped_extension.remove"), remove_admin_asset_path(asset), :class => "delete"
    - if current_folder && !current_folder.nil?
      %li{:class => "folder parent", :id => "folder_#{current_folder.parent_id}"}
        .front
          .thumbnail=# image_tag asset.thumbnail(:thumbnail) 
          .title
            = current_folder.parent_id ? current_folder.parent.name : t('clipped_extension.assets')
                       
  - if with_pagination && assets.respond_to?(:next_page) && assets.next_page
    = pagination_for(assets, pagination_parameters.merge(:depaginate => false, :param_name => 'p', :params => {:controller => 'admin/assets', :action => 'index', :id => nil, :format => 'js', :page_id => (page && page.id), :pp => assets.per_page }))
